.header {
    background-color: #0067cd; /* Deep Blue */
    color: #FFFFFF;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo .logo-image {
    width: 3rem; /* Adjust based on your preference */
    height: auto; /* Maintain aspect ratio */
}

.toggle-icon {
    font-size: 1.5rem;
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%; /* Full width to better fit mobile screens */
}

.navbar ul li {
    margin: 10px 0;
}

.navbar ul li a {
    color: #FFFFFF; /* White */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #bce1ff; /* Lighter Blue */
}

@media (min-width: 769px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo .toggle-icon {
        display: none; /* Hide toggle icon on larger screens */
    }

    .navbar ul {
        flex-direction: row;
    }

    .navbar ul li {
        margin-left: 20px;
    }
}
